.pp {
    font-family: "Courier New", Courier, monospace;
    background-color: black;
}

.bash {
    background-color: black;
    color: white;
    font-size: medium ;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    width: 100%;
    display: inline-block;
}

.bash_input[type="text"] {
    background-color: transparent;
    color: white;
    font-size: medium ;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    width: 100%;
    border: 0px solid;
    outline: none;
    display: inline-block;
}