/* TODO alter map and timeframe widths once there is a map */
#timeframe {
  height: 400px;
  width: 15%;
  float: left;
  border: none;
  background-color: #91f5b2;
}

#map {
  height: 400px;
  width: 85%;
  float: right;
  border: none;
  background-color: #91abf5;
}

.tab {
  width: 100%;
  overflow: hidden;
  border: none;
  background-color: #f1f1f1;
}

.tab button {
  width: 24%;
  border: none;
  box-shadow: none;
  background-color: inherit;
  float: center;
  outline: none;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #f59191;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  background-color: #f59191;
}

.form-row {
  padding: 6px 12px;
  display: flex;
}

.col-sm-3 {
  margin: 1rem;
  min-width: 14rem;
}