body {
  background-color: #f4f4f4;
}

#timeframe {
  height: 400px;
  width: 15%;
  float: left;
  border: none;
  padding: 2px;
  border-bottom: 1px solid #b7b7b7;
  border-right: 1px solid #b7b7b7;
}

#map {
  height: 400px;
  width: 85%;
  float: right;
  border: none;
  background-color: #75cff0;
  border-bottom: 1px solid #b7b7b7;
}

.tab {
  width: 100%;
  overflow: hidden;
  border: none;
  background-color: #d5d5d5;
}

.tab button {
  width: 24%;
  border: none;
  box-shadow: none;
  background-color: inherit;
  float: center;
  outline: none;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
}

.tab button:hover {
  background-color: #ddd;
}

.tabcontent {
  padding: 6px 12px;
  background-color: inherit;
}

.form-row {
  padding: 6px 12px;
  display: flex;
}

.col-sm-1 {
  margin: 1rem;
  min-width: 14rem;
}